{% extends 'base.html' %}
{% block content %}
{% if user.is_authenticated  %}
<!-- and user.is_staff -->

<div class="container mt-2" style="background: #eee;">
    <div class="row">
        <div class="col col-sm-5">
            <h6>School Detail</h6>
            <p>{{student_detail}}</p>        
        </div>
        <div class="col col-sm-5">
            {% if  school.student_school.all %}
              <h2>School Name is : {{school}}</h2>
            
            {% for item in school.student_school.all %}
          
                <small>Student Name is <span style="color:red;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">{{item.name}}</span> </small>
            {% endfor %}
            <h4>Want to add student ?</h4>
                <a href="{% url 'school:create_student' %}">New Student</a>
        {% else %}
                <h6>No student found for this school <small style="color:red">{{school}}</small>  SCHOOL</h6>
                <h4>Want to add student ?</h4>
                <a href="{% url 'school:create_student' %}">New Student</a>
        
        {% endif %}        
        </div>
    </div>
    
    
    
    
    
    <!-- <h1>Welcome <small>{{user}}</small> <span style="color:red;text-decoration:none;"><a href="{% url 'userauth:logout' %}">logout</a></span> </h1> -->
    
</div>

   {% endif %}

 {% endblock content %}
