{% extends 'base.html' %}

{% block content %}
<main role="main" class="container">
<h2>Count {{students.count}}</h2>
    {% if user.is_authenticated %}
{% for student in students %}
    
<div style="width:100%;margin:4px 0;background:#eee;" class="p-2">

<h2>{{student.name}}</h2> 

<div class="links mt-3">
    <span><a type="button" class="btn btn-light" href="{% url 'school:student_detail' pk=student.id  %}">View Detail</a></span>
    <span ><a type="button" class="btn btn-light"  href="{% url 'school:delete' pk=student.id  %}">Delete</a></span>
    <span><a type="button" class="btn btn-light" href="{% url 'school:update' pk=student.id  %}">Update</a></span>    
</div>


</div>

{% endfor %}

{% endif %}
{% for contact in page_obj %}
   
    {{ contact.full_name|upper }}<br>
    ...
{% endfor %}

<div class="pagination">
    <span class="step-links">
        
    </span>
</div>
<nav aria-label="...">
    <ul class="pagination">
        {% if page_obj.has_previous %}
        <li class="page-item ">
            <a class="page-link" href="?page=1">&laquo; first</a>
        </li>
            
            <li class="page-item ">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" >Previous</a>
            </li>
            {%else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
        {% endif %}

        {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.page_obj.number }}">{{ page_obj.number }}</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
        <li class="page-item"> <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a></li>
        {% endif %}
    </ul>
  </nav>




</main>
{% endblock %}