{% extends 'base.html' %}
{% block content %}
{% if user.is_authenticated  %}
<!-- and user.is_staff -->

<div class="container">
    <h2>School Detail</h2>

    <p>{{school}}</p>
    {% if  school.student_school.all %}
        <h2>School Name is : {{school}}</h2>
        
        {% for item in school.student_school.all %}
    
            
            <small>Student Name is = > {{item.name}}</small>
        {% endfor %}
        <h4>Want to add student ?</h4>
            <a href="{% url 'school:create_student' %}">New Student</a>
    {% else %}
            <h2>No student found for this school <small style="color:red">{{school}}</small>  SCHOOL</h2>
            <h4>Want to add student ?</h4>
            <a href="{% url 'school:create_student' %}">New Student</a>
    
    {% endif %}
    
    <h1>Welcome <small>{{user}}</small> <span style="color:red;text-decoration:none;"><a href="{% url 'userauth:logout' %}">logout</a></span> </h1>
    
</div>

{% endif %}

        


{% endblock content %}
